# Object file
*.o

# Ada Library Information
*.ali
/CodeFirst/.vs/CodeFirst
/CodeFirst/CodeFirst.Web/bin
/CodeFirst/CodeFirst.Web/obj/Debug
/CodeFirst/packages
/CodeFirst/CodeFirst.01/bin/Debug
/CodeFirst/CodeFirst.01/obj/Debug
/CodeFirst/CodeFirst.02/bin/Debug
/CodeFirst/CodeFirst.02/obj/Debug
/CodeFirst/CodeFirst.03/bin/Debug
/CodeFirst/CodeFirst.03/obj/Debug
